/* Custom CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
a, a:hover {
  text-decoration: none;
}

/* util classes */
.btn {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.container {
  max-width: 85%;
  margin: auto;
}
.section-padding {
  padding: 6rem 0;
}
.content-vertical-gap {
  margin-top: 4rem;
}

.header-upper {
  background: #004070;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.header-upper .left-side {
  padding: 1rem 0 0.8rem 2rem;
  font-weight: 400;
}
.header-upper .left-side span {
  vertical-align: middle;
}
.header-upper .right-side {
  display: flex;
  padding: 0.8rem 0;
}
.header-upper .right-side .mail > * {
  vertical-align: middle;
}
.header-upper .right-side .socials {
  margin: 0 2rem;
}
.header-upper .right-side a {
  margin: 0 3px;
}
.header-upper .right-side img {
  height: 20px;
}

/* navbar */
/* .navbar {
  border: 1px solid #e8e8e8;
} */
.navbar .navbar-content {
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-brand img {
  height: 90px;
}
.navbar .navbar-nav {
  display: flex;
  list-style: none;
}
.navbar .navbar-nav .nav-item {
  display: inline-block;
  padding: 1rem 0.8rem;
  line-height: 60px;
}
.navbar .navbar-nav .nav-item a {
  color: #4282BE;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item.active a,
  .navbar .navbar-nav .nav-item a:hover {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #2d75b8;
}
.navbar .navbar-nav .nav-item .btn-donate {
  background-color: #1ABB00;
  color: #fff;
  margin-left: 2rem;
}

/* banner */
.banner {
  background: url("../images/bg.jpg") no-repeat center center/cover;
  height: 650px;
}
.banner .container {
  height: 100%;
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner .banner-content .caption-wrapper {
  width: 45%;
}
.banner .banner-content .caption-wrapper h1 {
  font-weight: 300;
  color: #fff;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.banner .banner-content .actions .btn-join {
  background-color: #217ED4;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

/* stats */
.stats {
  background: #F8F8F8;
}
.stats .container {
  width: 70%;
}
.stats .stats-content {
  display: flex;
  flex-wrap: wrap;
}
.stats .stats-content .stat-item {
  width: 25%;
  text-align: center;
}
.stats .stats-content .stat-item img {
  height: 70px;
  margin-bottom: 0.5rem;
}
.stats .stats-content .stat-item h1 {
  color: #787777;
}
.stats .stats-content .stat-item p {
  color: #436CBC;
}

/* welcome */
.welcome .container {
  width: 70%;
}
.welcome .welcome-content {
  display: flex;
}
.welcome .welcome-content .caption-wrapper {
  width: 50%;
  padding-right: 4rem;
  margin-top: 2rem;
}
.welcome .welcome-content .caption-wrapper h3 {
  font-weight: 400;
  font-size: 24px;
  color: #666;
}
.welcome .welcome-content .caption-wrapper h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.welcome .welcome-content .caption-wrapper p {
  font-size: 20px;
  color: #555;
  font-weight: 300;
}

.welcome .welcome-content .video {
  width: 50%;
}
